div#banner{
    margin:auto;
    margin-top:20px;
    height: 10%;
    width: 60%;
    background-color: rgba(52, 73, 94,0.7);

}

div#form1{
    margin:auto;
    
    height: 80%;
    width: 60%;
    background-color: rgba(52, 73, 94,0.7);
}

input, textarea, select {
	margin-top: 20px;
}